{{- with .Site.Params.work }}
<div class="block--youtube row my-3 position-relative">
  <a href="{{ .youtubeLink }}" target="_blank">
    <img class="img-fluid w-100 no-bp" src="{{ .youtubeThumb }}" alt="{{ .youtubeTitle }}" />
    <img class="img-fluid no-bp youtube-icon position-absolute" src="{{ .youtubeIcon }}" alt="youtube link icon" />
  </a>
</div>
<div class="block--works row g-3">
{{- range .images }}
  <div class="col-md-6"><img class="img-fluid w-100" src="{{ . }}" /></div>
{{ end -}}
</div>
{{ end -}}